name: Reusable-workflow

on:
  repository_dispatch:
    types: [activate-workflow]

jobs:
  configurar-y-mostrar:
    runs-on: ubuntu-latest

    # No necesitas definir outputs aquí, los usaremos más adelante con artifacts
    steps:
    - name: Checkout código
      uses: actions/checkout@v4

    - name: Configurar variable
      id: conf-variable
      run: |
        echo "MI_VARIABLE=Esta es la primera variable" >> $GITHUB_ENV
        echo "MI_VARIABLE=Esta es la segunda variable" >> $GITHUB_OUTPUT

    - name: Persistir resultados
      uses: actions/upload-artifact@v2
      with:
        name: results
        path: ${{ github.workspace }}


